<br>
<br>
<div class="container">
	<form>
        <div class="form-group">
            <label for="contactNumber">Contact Number:</label>
            <input type="text" id="contactNumber" class="form-control" placeholder="Contact Number" aria-label="Username" 
            aria-describedby="addon-wrapping">
        </div>
        <div class="form-group">
            <label for="customerName">Customer Name:</label>
            <input type="text" id="customerName" class="form-control" placeholder="Customer Number" aria-label="Username" 
            aria-describedby="addon-wrapping">
        </div>
        <div class="form-group">
            <label for="typeOfPhoto">Select Type:</label>
            <select class="form-control" id="typeOfPhoto">
              <option>Passport</option>
              <option>Stamp</option>
            </select>
        </div>
        <div class="form-group">
            <label for="quantity">Quantity:</label>
            <select class="form-control" id="quantity">
              <option>5</option>
              <option>10</option>
            </select>
        </div>
        <div class="form-group">
            <label for="date">Expected Delivery Date:</label>
            <input class="form-control" id="date" name="date" placeholder="MM/DD/YYYY" type="text"/>
        </div>
    </form>
</div>


<script>
    $(document).ready(function(){
        var date_input=$('input[name="date"]'); //our date input has the name "date"
        var container=$('.bootstrap-iso form').length>0 ? $('.bootstrap-iso form').parent() : "body";
        date_input.datepicker({
            format: 'mm/dd/yyyy',
            container: container,
            todayHighlight: true,
            autoclose: true,
        })
    })
</script>